* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: sticky;
  left: 0;
  top: 1.8rem;
  width: 100%;
  z-index: 2;
}
.header__container {
  max-width: 125rem;
}
.header__row {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.header__logo {
  display: flex;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FFFFFF;
  text-decoration: none;
}
.header__nav__link:not(:last-child) {
  margin-right: 3rem;
}

.main {
  width: 100%;
}

.main__banner {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.main__banner__video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.main__banner__container {
  z-index: 2;
}
.main__banner__content__title {
  margin: 0 0 2.4rem 0;
  font-size: 6.4rem;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.5;
  text-align: center;
}
.main__banner__content__text {
  margin: 0 0 2.4rem 0;
  font-size: 2.4rem;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.5;
}
.main__banner__content__media {
  display: flex;
  justify-content: center;
}
.main__banner__content__media__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.main__banner__content__media__item:not(:last-child) {
  margin-right: 2.4rem;
}
.main__banner__content__media__item .media--instagram {
  width: 2.2rem;
  height: 2.2rem;
}
.main__banner__content__media__item .media--facebook {
  width: 0.9rem;
  height: 1.8rem;
}
.main__banner__content__media__item .media--github {
  width: 2.4rem;
  height: 2.4rem;
}

.main__about {
  position: relative;
  padding: 10.6rem 0 6.25rem;
  background-color: #212121;
  z-index: 1;
}
.main__about__container {
  max-width: 118rem;
}
.main__about__content {
  display: flex;
  gap: 7.4rem;
}
.main__about__content__item {
  position: relative;
  z-index: 1;
}
.main__about__content__item:first-child::after {
  content: "";
  position: absolute;
  width: calc(100% - 2.7rem);
  height: calc(100% - 2.6rem);
  bottom: 0;
  right: -2.7rem;
  border-radius: 2.4rem 0;
  border: 0.2rem solid #FFFFFF;
  z-index: -1;
}
.main__about__content__item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__about__content__item__subtitle {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #4C70EF;
}
.main__about__content__item__title {
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FFFFFF;
}
.main__about__content__item__desc__text {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #B0ADAD;
}
.main__about__content__item__desc__text:first-child {
  margin-bottom: 1.6rem;
}

.main__specializing {
  position: relative;
  padding: 6.25rem 0 6rem;
  background-color: #212121;
  z-index: 1;
}
.main__specializing__container {
  max-width: 98rem;
}
.main__specializing__content {
  display: flex;
  flex-direction: column;
}
.main__specializing__content__subtitle {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #4C70EF;
}
.main__specializing__content__title {
  margin-bottom: 5.1rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main__specializing__content__cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.main__specializing__content__cards__item {
  padding: 2.7rem 2.4rem 2.1rem;
  border-radius: 1.2rem;
  background-color: #292C36;
}
.main__specializing__content__cards__item__head {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 2rem;
  margin-bottom: 3.2rem;
}
.main__specializing__content__cards__item__head__title {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FFFFFF;
}
.main__specializing__content__cards__item__text {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #B0ADAD;
}

.main__portfolio {
  position: relative;
  padding: 6rem 0;
  background-color: #212121;
  z-index: 1;
}
.main__portfolio__container {
  max-width: 118rem;
}
.main__portfolio__content {
  display: flex;
  flex-direction: column;
}
.main__portfolio__content__subtitle {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #4C70EF;
}
.main__portfolio__content__title {
  margin-bottom: 3.2rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main__portfolio__content__cards {
  display: flex;
  gap: 2rem;
}
.main__portfolio__content__cards__item {
  background-color: #292C36;
  border-radius: 1.2rem;
}
.main__portfolio__content__cards__item__content {
  padding: 2rem 2.4rem;
}
.main__portfolio__content__cards__item__content__title {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #FFFFFF;
}
.main__portfolio__content__cards__item__content__input {
  padding: 1rem 1.8rem;
  border-radius: 0.6rem;
  background-color: #558FFF;
  color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
