$white_font: #FFFFFF;
$blue_font: #4C70EF;
$grey_font: #B0ADAD;
$white_background: #FFFFFF;
$dark_background: #212121;
$blue_background: #292C36;
$light_blue_background: #558FFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
}

.header {
    position: sticky;
    left: 0;
    top: 1.8rem;
    width: 100%;
    z-index: 2;

    &__container {
        max-width: 125rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    &__logo {
        display: flex;
    }

    &__nav {
        display: flex;
        align-items: center;

        &__link {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5;
            color: $white_font;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }
}

.main {
    width: 100%;
}

.main__banner {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    &__video {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__container {
        z-index: 2;
    }

    &__content {
        &__title {
            margin: 0 0 2.4rem 0;
            font-size: 6.4rem;
            font-weight: 600;
            color: $white_font;
            line-height: 1.5;
            text-align: center;
        }

        &__text {
            margin: 0 0 2.4rem 0;
            font-size: 2.4rem;
            font-weight: 600;
            color: $white_font;
            line-height: 1.5;
        }

        &__media {
            display: flex;
            justify-content: center;

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4.2rem;
                height: 4.2rem;
                border-radius: 50%;
                background-color: $white_background;

                &:not(:last-child) {
                    margin-right: 2.4rem;
                }

                & .media--instagram {
                    width: 2.2rem;
                    height: 2.2rem;
                }

                & .media--facebook {
                    width: 0.9rem;
                    height: 1.8rem;
                }

                & .media--github {
                    width: 2.4rem;
                    height: 2.4rem;
                }
        }
        }
    }
}

.main__about {
    position: relative;
    padding: 10.6rem 0 6.25rem;
    background-color: $dark_background;
    z-index: 1;

    &__container {
        max-width: 118rem;
    }

    &__content {
        display: flex;
        gap: 7.4rem;

        &__item {
            position: relative;
            z-index: 1;

            &:first-child::after {
                content: '';
                position: absolute;
                width: calc(100% - 2.7rem);
                height: calc(100% - 2.6rem);
                bottom: 0;
                right: -2.7rem;
                border-radius: 2.4rem 0;
                border: 0.2rem solid $white_font;
                z-index: -1;
            }
            
            &:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__subtitle {
                margin-bottom: 1.2rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.1em;
                color: $blue_font;
            }

            &__title {
                margin-bottom: 3.2rem;
                font-size: 3.6rem;
                font-weight: 600;
                line-height: 1.5;
                color: $white_font;
            }

            &__desc__text {
                font-size: 1.8rem;
                line-height: 1.5;
                color: $grey_font;
            }

            &__desc__text:first-child {
                margin-bottom: 1.6rem;
            }
        }
    }
}

.main__specializing {
    position: relative;
    padding: 6.25rem 0 6rem;
    background-color: $dark_background;
    z-index: 1;

    &__container {
        max-width: 98rem;
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__subtitle {
            margin-bottom: 1.2rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.1em;
            color: $blue_font;
        }

        &__title {
            margin-bottom: 5.1rem;
            text-align: center;
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.1em;
            color: $white_font;
            text-transform: uppercase;
        }

        &__cards {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            &__item {
                padding: 2.7rem 2.4rem 2.1rem;
                border-radius: 1.2rem;
                background-color: $blue_background;

                &__head {
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    padding-left: 2rem;
                    margin-bottom: 3.2rem;

                    &__title {
                        display: flex;
                        flex-direction: column;
                        font-size: 2.4rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: $white_font;
                    }
                }

                &__text {
                    font-size: 1.8rem;
                    line-height: 1.5;
                    color: $grey_font;
                }
            }
        }
    }
}

.main__portfolio {
    position: relative;
    padding: 6rem 0;
    background-color: $dark_background;
    z-index: 1;

    &__container {
        max-width: 118rem;
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__subtitle {
            margin-bottom: 1.2rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.1em;
            color: $blue_font;
        }

        &__title {
            margin-bottom: 3.2rem;
            text-align: center;
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $white_font;
        }

        &__cards {
            display: flex;
            gap: 2rem;

            &__item {
                background-color: $blue_background;
                border-radius: 1.2rem;

                &__content {
                    padding: 2rem 2.4rem;

                    &__title {
                        margin-bottom: 1.2rem;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: $white_font;
                    }

                    &__input {
                        padding: 1rem 1.8rem;
                        border-radius: 0.6rem;
                        background-color: $light_blue_background;
                        color: $white_font;
                    }
                }
            }
        }
    }
}
